<div id="map-canvas" class="maps">

    <div class="placeholder">
        <h3>New york bar</h3>
        <p><span>479 going</span></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, sequi.</p>
    </div>

    <img class="test_1" src="img/star.png">
    <img class="test_2" src="img/star.png">
    <img class="test_3" src="img/star.png">
</div>

<div id="leaderboard" class="col-sm-4 col-lg-3 col-xs-12">
    <div id="leaderboard-handle"></div>
    <h3>&#9733; Leaderboard</h3>
    <ul>
        <li><span class="star"><img src="img/star.png"></span>02 Arena <span>879 going</span></li>
        <li><span class="star"><img src="img/star.png"></span>New York Bar<span>479 going</span></li>
        <li><span class="star"><img src="img/star.png"></span>Jen's Bar<span>279 going</span></li>
    </ul>
</div>