/* Base
==========================*/

body {
	background: url(../img/sample_map.png); overflow: hidden}

/* override font */
* {
font-family: Myriad Pro;
}

h1,h2,h3,h4,h5,h6, .font-quote, h3 a {
	font-family: 'Yanone Kaffeesatz', sans-serif }

h3, h3 a {
	color: #fff;
	text-transform: uppercase; 
	margin: 0 }

h3 a:hover {
	text-decoration: none;
	color: #fff}

/* some default fontello styles */
.icon-heart, .icon-cog {
font-size:24px;
position: relative;
top: 5px;
}




/* Nav
==========================*/

.navbar {
	border: 0;
	border-bottom: 1px solid #fff;
	max-height: 56px;
	overflow: hidden}

.navbar-right a {
	display: block;
	padding: 12px 15px 17px !important;
	border-right: 1px solid #344F74;
	background: #012351}

.navbar-right a:hover {
	background: #000 !important}

.navbar-left {
	position: relative;
	padding-left: 0;
	margin-left: -10px;
	top: 3px }

.navbar-left input[type="text"] {
	width: 300px;
	box-shadow: -2px 2px 2px 1px #eee inset;
	position: relative;
	right: -10px}

.navbar-left .btn {
	position: relative;
	z-index: 100 }

.logo {
	padding-top: 5px; margin-left: -5px }

.logo img {
	width: 165px}



/* Leaderboard 
==========================*/


#leaderboard {
	background: #FD3F3E; padding: 0; position: absolute; left: 0; bottom: 0}

#leaderboard li, #leaderboard h3 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	position: relative; }

#leaderboard .star {
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top:-7px;
	width: 30px}

#leaderboard .star img {
	width: 90%;
	height: 90%}

#leaderboard li:first-child .star img {
	width: 100%;
	height: 100%}

#leaderboard li:last-child .star img {
	width: 80%;
	height: 80%;
	position: relative;
	left: 2px}

#leaderboard h3 {
	font-size: 20px; background: #012351; color: #fff; margin: 0; padding: 5px 7px; border: 1px solid #fff; border-left: 0}

#leaderboard ul {
	padding-left: 0; margin: 0}

#leaderboard li {
	font-size: 25px; text-transform: uppercase; list-style: none; border-bottom: 1px solid #FF7776; padding: 5px 0px }

#leaderboard span {
	font-size: 15px; margin-left: 10px; color: #fff }

	

/* Test stars
==========================*/

.placeholder {
	width: 200px;
	background: #012351;
	border-radius: 10px;
	box-shadow: 0 4px 2px 1px rgba(0,0,0,0.15);
	border: 1px solid #fff;
	left: 20%;
	padding: 10px;
	position: relative;}

.placeholder:after {content: "";
    height: 0;
    width: 0;
    position: absolute;
    right: 45%;
    top: 100%;
    border: solid transparent;
    border-right-color: #012351;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    border-width: 10px }

.placeholder span {
	color: #FF8A00;
	text-transform: uppercase }

.placeholder p {
	color: #fff}

.test_1, .test_2, .test_3 {
	position: absolute}

.test_1 {
	top: 60%;
	left: 40%}		

.test_2 {
	top: 40%;
	left: 70%}	

.test_3 {
	top: 30%;
	left: 60%}	
	
.form-signin label {
	margin-top:10px}

.form-signin hr {
	margin-bottom:10px}

.signin {
	margin-top: 30px;
	box-shadow: 0 3px 7px 1px #888}

.navbar-form input[type="text"] {
	float:left }

.navbar-form {
	float: left;
	position: relative;
	top: 2px}

.navbar-header {
	width: 100%;
	min-width: 315px}

.navbar-form button {
	float: left }

.navbar-right {
	margin-right: 0 !important}

.menu-icons {
	float: right}

/* Handle
==========================*/

@media (max-width: 767px) {

.logo {
	display: none;
}

.navbar-toggle {
	display: none;
}

.menu-icons {
	width: 30%;
	float: right;
}

.menu-icons li {
	float: right;

}

.menu-icons li a {
	padding: 0 px;
	text-align: center;
}

.navbar-right {
	margin: 0 !important;}

	#leaderboard-handle {
		background: url(../img/handle.png) no-repeat;
		position: absolute;
		left: 45%;
		width: 100px;
		margin-top:-10px;
		z-index: 100;
		height: 30px
	}
	
	.navbar-form {
		position: relative;
		width: 70%;
		left: 20px;
		top:2px;
		border: 0 !important;
		box-shadow: none;
		padding: 0;
		float: left
	}

	.navbar-form input[type="text"] {
		width:75%;
	}
}

@media (max-width: 380px) {

	.navbar-form input[type="text"] {
		width: 70%;
	}

	.navbar-right a{

		padding: 12px 4px 17px !important;
	}

}


@media screen and (-webkit-min-device-pixel-ratio:0) { 
 
 .navbar-form input[type="text"]{height:21px} 

 .navbar {height: 55px; overflow: hidden}

}