/* some default fontello styles */
.icon-heart, .icon-cog {
font-size:24px;
position: relative;
top: 5px;
}

.icon-key, .icon-user {
position: relative;
top: -30px;
left: 10px;
}

/* override font */
* {
font-family: Myriad Pro;
}

.well.panel{
    position: relative;
    top: 50px;
}

.well{
background-color:#f4f3f3;
border-radius: 5px;
}

.well .form-control, .well button {
border-radius: 5px;
}

.well .form-control {
color:#767676;
padding-left: 50px;
}

.well .form-control {
color:#767676;
}

.well .form-control:before {
    content: '\e80c';
    width: 100%;
    height: 100%;
    font-size: 5.0em;
    text-align: center;
    display: block;
    line-height: 100px;
}

.well button a {
    color: #fff;
}​

.test {
.well h2 {
    text-align:center;
}

.maps {
    background-color: #CCCCCC;
    height: 100%;
    margin-top: -21px;
    position: absolute;
    width: 100%;
}
